/* Regole css selettore universale */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

/* Regola css per non far collassare il div */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Regole css colorazione e formattazione generale testi */
.c-red {
    color: red;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.decoration-txt {
    text-decoration: line-through;
}

.small-txt {
    font-size: 13px;
}

/* Regole css container schede flottate */
.container {
    width: 70%;
    margin: 20px auto;
}

.float {
    width: 32%;
}

.float-l {
    float: left;
    margin-right: 2%;
}

.float-r {
    float: right;
}

div.product {
    position: relative;
    margin-bottom: 10px;
}

.margin {
  margin-bottom: 30px;  
}

/* Regole css per il cuore dei preferiti */
div.heart {
    position: absolute;
    top: 20px;
    right: 0;
    padding: 10px;
    background-color: white;
    width: 30px;
    height: 30px;
    line-height: 12px;
}

.product:hover .heart {
    color: red;
}

/* Regole css per i tag di ogni immagine */
.tags {
    position: absolute;
    left: 0;
    bottom: 20px;
}

.bg-red {
    padding: 2.5px 5px;
    background-color: #eb0037;
    color: white;
}

.bg-green {
    padding: 2.5px 5px;
    background-color: #00875a;
    color: white;
}

/* Regole css immagni */
.img1, .img2, .img3, .img4, .img5, .img6 {
    height: 500px;
    background-size: cover;
    background-position: center;
}


.img1 {
    background-image: url(../img/1.webp);
}

.product:hover .img1 {
    background-image: url(../img/1b.webp);
}  

.img2 {
    background-image: url(../img/2.webp);
}

.product:hover .img2 {
    background-image: url(../img/2b.webp);
}  

.img3 {
    background-image: url(../img/3.webp);
}

.product:hover .img3 {
    background-image: url(../img/3b.webp);
}  

.img4{
    background-image: url(../img/4.webp);
}

.product:hover .img4 {
    background-image: url(../img/4b.webp);
}  

.img5 {
    background-image: url(../img/5.webp);
}

.product:hover .img5 {
    background-image: url(../img/5b.webp);
}  

.img6 {
    background-image: url(../img/6.webp);
}

.product:hover .img6 {
    background-image: url(../img/6b.webp);
}  